<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swich.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dot"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dot"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash" android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration"
            android:excludeFromRecents="true" />
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true">

        </activity>
        <activity
            android:name=".Popup"
            android:theme="@style/AppTheme.CustomTheam" />

        <receiver android:name=".InterceptCall">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>